* {
  max-width: 100%;
}

body {
  background: #111;
  color: #eee;
  max-width: 46em;
  margin: auto;
  padding: 1em;
  line-height: 2;
}

a {
  color: tan;
}

pre {
  overflow-x: auto;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  display: block;
}
