html {
	background: #111;
	color: #eee;
}

a {
	color: #ec1;
}

body {
	max-width: 46rem;
	margin: 0 auto;
	padding: 1rem;
	line-height: 1.5;
}

* {
	max-width: 100%;
}

pre {
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}